body{
    background-color:#2f3542;
}


.chart{
    display: flex;
}

.label{
    background-color: red;
    margin: auto 0;
}

.barchartWrapper{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.space{
    flex: 0 0 20px;
}
.price{
    /* transform: translate(-10%); */
    width: 100%;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    font-size: 11px;
}

.diamond{
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    display: block;
    background-color: red;
    margin: 0 auto;
}

.bar{
    width: 100%;
    background-color: aqua;
    height: 0.125rem;
}

.originContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tick{
    width: 1.6px;
    height: 5px;
    background-color: black;
}

.origin{
    font-size: 11px;
}